name: Python Test and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: pytest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: 'checkout'
      uses: actions/checkout@v3
    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
        project_id: '${{ secrets.GCP_PROJECT }}'
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'

    - name: 'Write .env'
      run: echo '${{ secrets.DOT_ENV }}' > .env

    - name: 'Copy to vm'
      run: gcloud compute scp --recurse --zone us-central1-a ./* erik@instance-1:/home/erik/bot2staging

    - name: 'and the .env'
      run: gcloud compute scp --zone us-central1-a ./.env erik@instance-1:/home/erik/bot2staging/.env
